body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #f0f0f0; 
    margin: 30px auto;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.container  {
    border-radius: 10px; 
    background-color: #e0e0e0;
    padding: 20px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

h1 {
    color: #333;
}

.formulario {
    margin: 20px auto;
    width: 280px; 
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff; 
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

label, input, select, button {
    display: block;
    margin: 10px auto;
}

button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 15px 20px; 
    border-radius: 10px;
    font-size: 18px;
}

button:hover {  
background-color: #b33f00;
}

button:active {
transform: scale(0.95); 
}

#precio{
    background-color: #c6a8114b;
}

#impuesto{
    background-color: #c6a811;
}
